body {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
/*#container	{
	background:#fff; 
	box-shadow:0 0 20px #ccc; 
	margin:0 5%; 
	width:90%;}
*/