/* reset */

html, body, address, blockquote, del, div, h1, h2, h3, h4, h5, h6, hr, ins, noscript, p, pre, dl, dt, dd, li, ol, ul, table, caption, colgroup, col, thead, tfoot, tbody, tr, td, th, form, button, fieldset, legend, label, select, optgroup, option, textarea, a, bdo, br, img, map, area, object, param, q, script, span, sub, sup, abbr, acronym, cite, code, del, dfn, em, ins, kbd, samp, strong, var, b, big, i, small, tt{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline;}
ol, ul{list-style:none;}
th{text-align:left;}
table{border-collapse:collapse;}



/* global */

body 												{background:#eee;}
a:link,
a:visited										    {}
a:hover,
a:visited:hover									    {}

table td										    {}

h1												    {}
h2												    {}
h3												    {}
h4												    {}
h5												    {}
h6												    {}

p												    {}
span												{}
hr													{}
label												{}
input[type=text]									{}
input[type=text]:focus								{}
input[type=submit]									{}
textarea											{}

::selection 										{}
::-moz-selection 									{}



/* container */

#container											{margin:0 auto; width:1000px;}



/* main */

main												{background:#fff; width:1000px;}

/*data_overlay*/
#data_overlay                                       {margin:0 auto;background:#C0C0C0; height:300px; width:1000px;}
.chart                                              {background: #fff;}
/* misc */

strong											    {font-weight:bold;}
em													{font-style:italic;}
.cb													{clear:both;}          


	path {
		stroke: steelblue;
		stroke-width: 1;
		fill: none;
	}
			
	.axis {
		shape-rendering: crispEdges;
	}

	.x.axis line {
		stroke: lightgrey;
	}

	.x.axis .minor {
		stroke-opacity: .5;
	}

	.x.axis path {
		display: none;
	}

	.y.axis line, .y.axis path {
		fill: none;
		stroke: #000;
	}

    .node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}